---
import { AssetLibrary } from "@/components/AssetLibrary";
---

<html lang="en">
  <head><title>Asset Library</title></head>

  <body>
    <h1>Asset Library</h1>
    <AssetLibrary client:load />
  </body>
</html>

<style is:global>
  section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .asset-result {
    display: flex;
    gap: 30px;
    background-color: rgb(212, 212, 212);

    > .left {
      width: 32%;
      border-right: 2px solid rgb(134, 134, 134);
    }

    > .right {
      width: 68%;
    }
  }
</style>
